body{
	margin: 0;
	padding: 0;
	background:rgb(240,239,239) ;
	font-family:"poppins",sans-serif;
}
h1{
	margin: 0;
	font-weight: 400;
}
h2
{
	margin: 0;
	font-weight: 400;
	display: inline;
}
.box
{
	border-radius: 0.5rem;
}
.header
{
	display: grid;
	background: #fff;
	width: 50rem;
	padding:3rem;
	margin: 1rem auto;
	grid-template-columns: 100%;
}
.header-left
{
	display: grid;
justify=items: center;
align-items: center;
font-size: 2rem;
}
.first-name
{
	font-weight: 400;
	margin: 0;
}
.last-name
{
	font-weight: 200;
	margin: 0;
}
.header-right
{
	width: 75%;
	display: grid;
	justify-items: end;
}
.header-right p{
	display: inline;
}
.grey
{
	background:rgb(133,133,133) ;
	color: #fff;
	padding: 0.5rem;
	border-radius: 0.3rem;
}
table{
	border: 2px solid #000;
	margin: 1rem 0;
	width: 75%;
	text-align: center;
	border-collapse: collapse;
}
td,th{
	border: 1px solid #000;
	padding: 0.4rem;
}
